body{
    background-image: url(/Assets/gustavo-boaron-1g03XmxgU1A-unsplash.jpg);

}

.container{
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-top: 150px;
    border-radius: 10px;
}

.ingresar{
    width: 500px;
    height: 300px;
}

.form-label{
    margin-top: 10px;
}

.btn-outline-dark{
    margin-left: 10px;
}
