body{
    background-image: url(/Assets/gustavo-boaron-1g03XmxgU1A-unsplash.jpg);

}

.container{
    background-color: white;
    width: 520px;
    height: 500px;
    margin-top: 150px;
    border-radius: 10px;
}

.ingresar{
    padding-top: 20px;
    width: 500px;
    height: 300px;
}